body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(110, 97, 97);
}
.first-section{
    background-color: #2D25A0;
    height: 450px;
    width: 100%;
    padding-top:50px;
}
.main-title{
    color: white;
    font-size: 50px;
}
.first-content .Game-name{
    color: rgba(255, 71, 200, 0.719);
}
.first-container{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    margin-left: 12%;
}
.first-container img{
        width: 480px;
}
.first-content a{
    text-decoration: none;
    color: white;
    padding: 7px 15px;
    background-image: linear-gradient(rgb(250, 68, 68),rgb(238, 69, 39));
    border-radius: 5px;
}
.first-content a:hover{
    background-image: linear-gradient(rgb(248, 73, 140),rgb(245, 62, 30));
}
.player img{
    width: 90%;
    height: 256px;
    margin: 0px 15px;
    margin-top: 15px;
}
.player-box{
    width: 300px;
    height: 500px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 20px 7px #36363a;
    border-radius:5px;
}
.player-box:hover{
    box-shadow:0px 0px 20px 3px #9897a5;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 80px 180px;
}
.player-title{
    margin: -12px 17px;
    text-align: justify;
}
.player-info{
    margin-top: -17px;
}
.player{
    border-radius: 5px;
    color: #9897a5;
    overflow: hidden;
}
.player :hover{
    transform: scale(1.4);
    transition: transform 1s;
}
.third-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 60px;
}
.third-content{
    padding: 0px 100px;
}
.third-content h1{
    margin-top: 10px;
}
.third-content p{
    text-align: justify;
    margin-top: -30px;
    margin-bottom: 38px;
}
.third-content .watch-now{
    text-decoration: none;
    background-image: linear-gradient(#2d25a0,#5650a3);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 7px 15px;
}
.third-content .watch-now:hover{
    background-image: linear-gradient(rgb(248, 27, 27),rgb(241, 81, 53));
    border-radius: 5px;
    color: rgb(182, 174, 174);
}
.third-content img{
    height: 427px;
    width: 567px;
}
.third-content .game-name{
    color: tomato;
}
.third-container-two{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    font-size: 30px;
}
.social-media li{
    padding-left: 10px;
}
.social-media li :hover{
    color: rgb(241, 132, 113);
}
footer{
    background-color:#0F0F11;
    text-align: center;
    padding-bottom: 10px;
}
footer h1{
    font-size: 40px;
    color: rgb(110, 97, 97);
    padding-top: 20px;
    padding-bottom: 0px;
}
footer .game-name{
    color: tomato;
}
footer h4{
    color:rgb(155, 139, 139);
    font-size: 17px;
    margin-top: -15px;
}
footer p{
    color: rgb(95, 89, 89);
}